@font-face{
    font-family: "digital-7";
    src: url("display.ttf");
}
body{text-align: center;}
.container{
    margin: 30px auto;
    border-left: 3px solid #111;
    border-top: 3px solid #111;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    width: 240px;
    height: 320px;
    background-image: url("bg.png");
    border-radius: 5px;
    box-shadow: -5px -5px 10px darkgray;
}
.row{
    clear: both;
}
#calc-input{
    width: 220px;
    box-sizing: border-box;
    font-size: 50px;
    text-align: right;
    font-family: "digital-7";
    background-image: url("bgDispaly.png");
    background-repeat: repeat;
    margin: 10px;
    border-top: 4px solid #222;
    border-left: 4px solid #222;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 5px;
    overflow: auto;
}
.buttons{
    margin: 10px;
    text-align: center;
}
.calc-button{
    width: 70px;
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    border-radius: 5px;
    background-color: #111;
    color: white;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
}
#button-calculate{
    border-radius: 5px;
    font-size: 20px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
}
#button-clear{
    border-radius: 5px;
    font-size: 20px;
     background-color: #551111;
    color: white;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    border-bottom: 2px solid #888;
    border-right: 2px solid #888;
}